@charset "UTF-8"
head {

}

body{
    font-family: Arial, Helvetica, sans-serif;
    /* 
    Medidas Absolutas
    cm, mm, in, px...  ---in (polegada)

    Medidas Relativas
    em, ex, rem, vw, bh, %

    PRINCIPAIS
    px, em
    16px geralmente = 1em
    */
    font-size: 1em;
    font-weight: ;

    /* shorthan font
    font-family: 'work sans', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;

    simplicar as linhas de cima

    font-style -- > font-weight ---> font-size ---> font-family

    font: italic bolder 3em 'work sans', sans-serif; 
    */
}